

<p>
  <b>Kode Rumah sakit:</b>
  <%= @mapping_data_obat.kode_rs %>
</p>

<p>
  <b>Kode EJKBM:</b>
  <%= @mapping_data_obat.kode_ejkbm %>
</p>


<%#= link_to 'Edit', edit_mapping_data_obat_path(@mapping_data_obat) %>
<%#= link_to 'Back', mapping_data_obats_path %>
