

<p>
  <b>Kode rs:</b>
  <%= @mapping_data_pemeriksaan.kode_tm_rs %>
</p>

<p>
  <b>Kode ejkbm:</b>
  <%= @mapping_data_pemeriksaan.kode_tm_ejkbm %>
</p>

<p>
  <b>Kode pemeriksaan: </b>
  <%= @mapping_data_pemeriksaan.kode_pemeriksaan %>
</p>


<%#= link_to 'Edit', edit_mapping_data_pemeriksaan_path(@mapping_data_pemeriksaan) %> 
<%#= link_to 'Back', mapping_data_pemeriksaans_path %>
