body {
    font-family: Lucida, Verdana, sans-serif; font-size: 0.7em;
    background-color:#E1E6FF;
    margin: 0 auto;
    padding: 0;
    color:black;
    width: 100%;
}

#wrapper {
    width:1000px;
    padding: 5px;
    position: relative;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    border:0;
    background-color: transparent
}

#menu_action{
    position: fixed;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #0C1216;
    text-align: left;
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radiust: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-color: #EAEAEA;
}

#header {
    height:auto;
    font-size: 12px;
    width: 100%;
    background-color: #A7B7FF;
    margin: 0 auto;
    color:#4769AA;
    border-bottom: 2px solid #1924B1;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
}

#header_content{
    background-color: transparent;
    width: 1000px;
    margin: 0px auto;
    padding: 12px;
}

#header_titel_pic{
    float:left;
}

#header_title{
    float:left;
    font-size:19px;
    font-weight: bolder;
}

#header_menu{
      margin:0px;
      padding:0px;
      line-height:15px;
      float:none;
      float: right;
  }

#container{
    width:400px;
    min-height:500px;
    position: relative;
    margin:0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

#content{
    padding:10px;
    min-height: 300px;
    background-color: white;
    border: 1px solid #212121;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: auto;
    position: relative;
}
#content a{
    color:black;
}
#content a:hover{
    text-decoration:underline;
}


#footer {
    clear: both;
    position: fixed;
    bottom: 0;
    background: #A7B7FF;
    padding:10px;
    text-align:center;
    font-size:0.9em;
    color:black;
    width: 100%;
    border-top: 1px solid #1924B1;
}

#box{
    margin-bottom:5px;
    padding:20px;
    border:5px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radiust: 10px;
    border-radius: 10px;
    background-color:#c4dbe8;
    width:auto;
}

#content_frame{
    float:right;
    text-align:left;
    width:400px;
}

#newsletter_topics label.error {
	display: none;
	margin-left: 103px;
}

.searching_icon {
    border:none;
    width: 16px;
    height: 16px;
    background: url('/images/Search_green.png') no-repeat;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
}
  .total{
    font-weight: bolder; background-color: #F8F8F9;
    border-bottom: 1px solid silver;
    border-top: 3px double silver;
  }

