<p id="notice"><%= notice %></p>

<p>
  <b>Kode Rumah Sakit:</b>
  <%= @mapping_data_tindakan_penunjang.kode_rs %>
</p>

<p>
  <b>Kode EJKBM:</b>
  <%= @mapping_data_tindakan_penunjang.kode_ejkbm %>
</p>


<%#= link_to 'Edit', edit_mapping_data_tindakan_penunjang_path(@mapping_data_tindakan_penunjang) %> 
<%#= link_to 'Back', mapping_data_tindakan_penunjangs_path %>
